@import '../../variables.scss';

.gallery-item {
  align-self: flex-start;
  border-radius: $galleryRadius;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
  flex: 1 #{100% / $galleryColumns - 2};
  height: $galleryItemHeight;
  margin-bottom: $galleryPad;
  margin-right: $galleryPad;
  max-width: $galleryItemWidth;
  overflow: hidden;
  position: relative;
  transform: $trans-3d;
  transition: $trans-fast;
  width: $galleryItemWidth;

  .bgimg {
    background-position: center top;
    background-size: cover;
    height: 100%;
    position: absolute;
    transform: scale(1), $trans-3d;
    transition: all 300ms ease-out;
    width: 100%;
    will-change: scale;
    z-index: 1;
  }

  footer {
    background-color: tomato;
    border-bottom-left-radius: $galleryRadius;
    border-bottom-right-radius: $galleryRadius;
    bottom: -2px;
    height: 64px;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 2px 5px 4px;
    position: absolute;
    transform: $trans-3d;
    transition: $trans-fast;
    width: 100%;
    z-index: 5;
  }

  &:hover {
    footer {
      opacity: 1;
    }

    .bgimg {
      transform: scale(1.05);
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .gallery-item {
    height: $galleryItemHeightSm;
    max-width: $galleryItemWidthSm;
    width: $galleryItemWidthSm;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .gallery-item {
    height: $galleryItemHeightMd;
    max-width: $galleryItemWidthMd;
    width: $galleryItemWidthMd;
  }
}

@media only screen and (min-width: $screen-lg-min) {
  .gallery-item {
    height: $galleryItemHeightLg;
    max-width: $galleryItemWidthLg;
    width: $galleryItemWidthLg;
  }
}
