@import '../../variables.scss';

.container-gallery {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: auto;
  //padding-left: $galleryPad;
  //padding-top: $galleryPad;
  padding: 0;
  position: fixed;
  right: 0;
  transform: $trans-3d;
  transition: $trans-slow;
  top: -2px;
  width: calc(100% - #{$mastheadWidth});
}

@media only screen and (max-width: $screen-xs-max) {
  .container-gallery {
    height: calc(100vh - 50px);
    top: 50px;
    width: 100vw;
  }
}

