$screen-xs-max: 480px !default;
$screen-sm-max: 768px !default;
$screen-md-max: 992px !default;
$screen-lg-max: 1200px !default;

$screen-sm-min: ($screen-xs-max + 1) !default;
$screen-md-min: ($screen-sm-max + 1) !default;
$screen-lg-min: ($screen-md-max + 1) !default;
$screen-xl-min: ($screen-lg-max + 1) !default;

$blur: 5px;

$mastheadTopHeight: 50px;
$mastheadWidth: 120px;
$mastheadWidthHover: 180px;

$menuItemHeight: 32px;

$galleryColumns: 1 !default;
$galleryColumnsSm: 2 !default;
$galleryColumnsMd: 3 !default;
$galleryColumnsLg: 4 !default;
$galleryColumnsXL: 5 !default;
$galleryPad: 15px;
$galleryRadius: 8px;

$galleryItemHeight: 280px;
$galleryItemHeightSm: $galleryItemHeight * 1.07;
$galleryItemHeightMd: $galleryItemHeightSm * 1.07;
$galleryItemHeightLg: $galleryItemHeightMd * 1.05;
$galleryItemHeightXL: $galleryItemHeightLg * 1.03;

$galleryItemWidth: calc(calc(100% / $galleryColumns) - #{$galleryPad});
$galleryItemWidthSm: calc(calc(100% / $galleryColumnsSm) - #{$galleryPad});
$galleryItemWidthMd: calc(calc(100% / $galleryColumnsMd) - #{$galleryPad});
$galleryItemWidthLg: calc(calc(100% / $galleryColumnsLg) - #{$galleryPad});
$galleryItemWidthXL: calc(calc(100% / $galleryColumnsXL) - #{$galleryPad});

$trans-fast: all 200ms ease-out;
$trans-slow: all 400ms ease-out;
$trans-3d: translateZ(0);

$grad-dark: linear-gradient( 180deg, rgba(0, 0, 0, 1.0) 0%, rgba(0, 0, 0, 0.1) 80% );

$color_bg_page: #333;
$color_bg_nav: rgba(0, 0, 0, 0.33);
$color_bg_nav_hover: #eee;
$color_nav: #eee;

$font_main: "Operator Mono Lig";
