@import '../../variables.scss';

.masthead {
  color: $color_nav;
  background-color: $color_bg_nav;
  border-right: 1px solid $color_nav;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: $trans-3d;
  transition: $trans-slow;
  width: $mastheadWidth;
  will-change: width;
  z-index: 1;

  .menu-toggle {
    background-color: transparent;
    border: 1px solid $color_nav;
    border-radius: .25rem;
    cursor: pointer;
    display: none;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: .25rem .75rem;
    position: absolute;
    right: calc($mastheadWidth / 15);
    text-transform: none;
    top: calc($mastheadWidth / 15);
    -webkit-appearance: button;

    .icon {
      background: no-repeat center center;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
      content: "";
      display: inline-block;
      height: 1.5em;
      vertical-align: middle;
      width: 1.5em;
    }
  }

  .menu-items {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: $trans-3d;
    transition: $trans-fast;

    &::before {
      background-image: $grad-dark;
      background-size: cover;
      bottom: 0;
      content: ' ';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    li {
      font-size: calc($menuItemHeight / 2);
      height: $menuItemHeight;
      line-height: $menuItemHeight;

      a {
        background-color: transparent;
        color: $color_nav;
        display: inline-block;
        line-height: $menuItemHeight;
        overflow: hidden;
        padding: 0 1rem;
        text-decoration: none;
        text-overflow: ellipsis;
        transform: $trans-3d;
        transition: $trans-fast;
        white-space: nowrap;
        width: 100%;
      }

      &:hover,
      &.active {
        background-color: $color_bg_page;
      }
    }
  }

  .my-name {
    bottom: $mastheadWidth * -1;
    font-size: 2.25rem;
    height: $mastheadWidth;
    left: 0px;
    line-height: $mastheadWidth;
    padding-left: 1rem;
    position: absolute;
    transform: $trans-3d rotate(270deg);
    transform-origin: top left;
    transition: $trans-slow;
    white-space: nowrap;
    width: 100vh;
    will-change: bottom, height, line-height;
    z-index: -10;
  }
}


@media only screen and (max-width: $screen-xs-max) {
  .masthead {
    border-right: none;
    border-bottom: 1px solid $color_nav;
    height: $mastheadTopHeight;
    overflow: visible;
    width: 100vw;

    .menu-toggle {
      display: block;
    }

    .menu-items {
      border: 1px solid $color_nav;
      border-top: none;
      height: auto;
      position: absolute;
      right: 0;
      text-align: right;
      top: $mastheadTopHeight - 1px;
      // top: -100vw;
      width: 100vw;

      &::before {
        background-image: $grad-dark;
      }

      li {
        display: block;
        height: $mastheadTopHeight - 5px;
        line-height: $mastheadTopHeight - 5px;
        position: relative;
        width: auto;

        a {
          line-height: $mastheadTopHeight - 5px;
        }
      }
    }

    .my-name {
      bottom: initial;
      font-size: 30px;
      height: 50px;
      top: 0px;
      line-height: 50px;
      padding-left: 1rem;
      position: absolute;
      transform: $trans-3d rotate(0deg);
      transform-origin: initial;
      width: auto;
      z-index: -10;
    }
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .masthead {
    .my-name {
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .masthead:hover {
    width: $mastheadWidthHover;

    .my-name {
      bottom: $mastheadWidthHover * -1;
      height: $mastheadWidthHover;
      line-height: $mastheadWidthHover;
    }
  }
}

